---
import Header from '../components/Header.astro'
import Layout from '../layout/Layout.astro'
import Hero from '../components/Hero.astro'
import LogoWall from '../components/logoWall.astro'
import Projects from '../components/Projects.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <LogoWall />
    <Projects />
    </main>
</Layout>