---
import Projects from "./Projects.astro"
---

<nav>
    <ul class="container">
        <li class="header"><a href="#home">Home</a></li>
        <li class="header"><a href="#projects">Projects</a></li>
        <li class="header"><a href="#contact">Contact Me</a></li>
    </ul>
</nav>

<style>
    .container{
        display: flex;
        gap: 40px;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50px;
        padding: 10px 30px;
        position: sticky;
        top: 20px;
        margin: 20px auto;
        text-decoration: none;
        width: max-content;
        transition: all 0.3s ease;
        color: white;
    }
    .header{
        display: flex;
        gap: 40px;
        color: white; 
        cursor: pointer;
        font-style: DM-Sans;
    }

    container a{
        text-decoration: none;
        color: white;
    }
    .header a:visited{
        color: white;
    }
    .header a {
        text-decoration: none;
    }

    
</style>