---

---

<nav>
    <ul class="container">
        <li class="header">Home</li>
        <li class="header">Projects</li>
        <li class="header">Contact Me</li>
    </ul>
</nav>

<style>
    .container{
        display: flex;
        gap: 40px;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50px;
        padding: 10px 30px;
        position: sticky;
        top: 20px;
        margin: 20px auto;
        width: max-content;
    }
    .header{
        display: flex;
        gap: 40px;
        color: white; 
        cursor: pointer;
        font-style: DM-Sans;
    }
    @media (min-width: 768px) {
    .animate-scroll {
    animation-duration: 50s;
    }
}
</style>