---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DR PORTFOLIO</title>
	</head>
	<body class="main">
		<slot />  </body>
</html>

<style>

    @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
    }

    html {
    font-family: 'DM Sans', sans-serif;
    }
	.main{
		background-color: #07091A
	}
</style>

